In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
diabetes_dataset = pd.read_csv('data/diabetes - copy.csv')

In [3]:
diabetes_dataset.head()

,patient_number,cholesterol,glucose,hdl_chol,chol_hdl_ratio,age,gender,height,weight,bmi,systolic_bp,diastolic_bp,waist,hip,waist_hip_ratio,Diabetes
0,1,193,77,49,3.9,19,0,61,119,22.5,118,70,32,38,0.84,0
1,2,146,79,41,3.6,19,0,60,135,26.4,108,58,33,40,0.83,0
2,3,217,75,54,4.0,20,0,67,187,29.3,110,72,40,45,0.89,0
3,4,226,97,70,3.2,20,0,64,114,19.6,122,64,31,39,0.79,0
4,5,164,91,67,2.4,20,0,70,141,20.2,122,86,32,39,0.82,0

In [4]:
diabetes_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   patient_number   390 non-null    int64
 1   cholesterol      390 non-null    int64
 2   glucose          390 non-null    int64
 3   hdl_chol         390 non-null    int64
 4   chol_hdl_ratio   390 non-null    float64
 5   age              390 non-null    int64
 6   gender           390 non-null    int64
 7   height           390 non-null    int64
 8   weight           390 non-null    int64
 9   bmi              390 non-null    float64
 10  systolic_bp      390 non-null    int64
 11  diastolic_bp     390 non-null    int64
 12  waist            390 non-null    int64
 13  hip              390 non-null    int64
 14  waist_hip_ratio  390 non-null    float64
 15  Diabetes         390 non-null    int64
dtypes: float64(3), int64(13)
memory usage: 48.9 KB

In [5]:
diabetes_dataset = diabetes_dataset.drop(["patient_number"], axis=1)

In [6]:
diabetes_dataset['Diabetes'].value_counts()

0    330
1     60
Name: Diabetes, dtype: int64

In [7]:
X = diabetes_dataset.drop(columns = 'Diabetes', axis=1)
Y = diabetes_dataset['Diabetes']
print(X)

     cholesterol  glucose  hdl_chol  chol_hdl_ratio  age  gender  height  \
0            193       77        49             3.9   19       0      61
1            146       79        41             3.6   19       0      60
2            217       75        54             4.0   20       0      67
3            226       97        70             3.2   20       0      64
4            164       91        67             2.4   20       0      70
..           ...      ...       ...             ...  ...     ...     ...
385          227      105        44             5.2   83       0      59
386          226      279        52             4.3   84       0      60
387          301       90       118             2.6   89       0      61
388          232      184       114             2.0   91       0      61
389          165       94        69             2.4   92       0      62

     weight   bmi  systolic_bp  diastolic_bp  waist  hip  waist_hip_ratio
0       119  22.5          118            70     32   38             0.84
1       135  26.4          108            58     33   40             0.83
2       187  29.3          110            72     40   45             0.89
3       114  19.6          122            64     31   39             0.79
4       141  20.2          122            86     32   39             0.82
..      ...   ...          ...           ...    ...  ...              ...
385     125  25.2          150            90     35   40             0.88
386     192  37.5          144            88     41   48             0.85
387     115  21.7          218            90     31   41             0.76
388     127  24.0          170            82     35   38             0.92
389     217  39.7          160            82     51   51             1.00

[390 rows x 14 columns]

In [8]:
scaler = StandardScaler()

In [9]:
scaler.fit(X)

StandardScaler()

In [10]:
standardized_data = scaler.transform(X)

In [11]:
X = standardized_data
Y = diabetes_dataset['Diabetes']

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=5)
print (X_test)

[[ 1.40710724 -0.63910275 -0.59493102 ...  0.19653396 -0.35217979
   0.93841584]
 [ 0.46558696 -0.76938579 -0.30519189 ... -0.84629929 -0.88248912
  -0.15570128]
 [ 0.15174686 -0.5646553  -0.13134841 ...  0.3703395   0.17812954
   0.39135728]
 ...
 [-0.83460773 -0.7135502   0.79581682 ... -0.15107712 -0.52894956
   0.66488656]
 [-1.39503647 -0.41576039 -1.23235712 ... -1.19391037 -1.41279845
   0.117828  ]
 [-0.22934469  0.23565482 -0.7687745  ... -0.15107712  0.17812954
  -0.5659952 ]]

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
model = DecisionTreeClassifier()

In [15]:
model.fit(X_train, Y_train)

DecisionTreeClassifier()

In [16]:
predictions = model.predict(X_train)

In [17]:
X_train_prediction = model.predict(X_train)
accuracy_score(X_train_prediction, Y_train)

1.0

In [18]:
print(X_test)
X_test_prediction = model.predict(X_test)
accuracy_score(X_test_prediction, Y_test)

[[ 1.40710724 -0.63910275 -0.59493102 ...  0.19653396 -0.35217979
   0.93841584]
 [ 0.46558696 -0.76938579 -0.30519189 ... -0.84629929 -0.88248912
  -0.15570128]
 [ 0.15174686 -0.5646553  -0.13134841 ...  0.3703395   0.17812954
   0.39135728]
 ...
 [-0.83460773 -0.7135502   0.79581682 ... -0.15107712 -0.52894956
   0.66488656]
 [-1.39503647 -0.41576039 -1.23235712 ... -1.19391037 -1.41279845
   0.117828  ]
 [-0.22934469  0.23565482 -0.7687745  ... -0.15107712  0.17812954
  -0.5659952 ]]

0.8717948717948718

In [19]:
test = {'cholesterol':[194], 'glucose': [2619], 'hdl_chol': [138], 'chol_hdl_ratio': [5.1], 'age': [29],'gender':  [0], 'height': [69], 'weight': [167], 'bmi': [24.7], 'systolic_bp': [120], 'diastolic_bp': [70], 'waist': [33], 'hip': [40], 'waist_hip_ratio': [0.83]}

data = pd.DataFrame(data=test)
X_test_prediction2 = model.predict(data)
print(data)

   cholesterol  glucose  hdl_chol  chol_hdl_ratio  age  gender  height  \
0          194     2619       138             5.1   29       0      69

   weight   bmi  systolic_bp  diastolic_bp  waist  hip  waist_hip_ratio
0     167  24.7          120            70     33   40             0.83

C:\xampp\htdocs\Final Project\amrproject\env\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(